@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Poppins';
    font-size: 62.5%;

}

body {
    font-family: 'Poppins' !important;
    background-color: #F9FAFB !important;

}
.main {
    min-height: 100vh;
}

.wrapper-card .card {
    border-radius: 1.2rem;
    width: 19rem !important;
}
.card-title{
    font-size: 6rem !important;
}
/* Header */
button {
    font-size: 1.6rem !important;
}

.profil-circle {
    background-color: #D9D9D9;
    border-radius: 50%;
    width: 60px;
    height: 60px;
}

/* Headine */
.sapa {
    color: #504A4A !important;
}

/* Section2 - swipper js */
.swiper {
    width: 100% !important;
    height: auto;
}

.swiper .swiper-slide .card {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    background: transparent;
    border: 1px solid #504A4A;
}

.swiper-slide {
    width: auto !important;
    opacity: 0.7;
    transform: scale(0.4);
}

.swiper-slide-active {
    opacity: 1;
}

.swiper-slide-active .card {
    transform: scale(1.1);
    /* Diperbesar 20% */
}

.swiper .card i {
    font-size: 2.4rem;
    color: #504A4A;
}




.swiper .card p {
    font-size: 1rem;
}

.swiper-button-next::after,
.swiper-button-prev::after {
    font-size: 30px;
    /* kecilkan panah */

}

/* section-3 */
.section-3 .card-title {
    font-size: 4rem;
}

.section-3 .card {
    width: 15rem;
}

/* Nav bottom */
.nav-bottom {
    background-color: white !important;
    position: sticky;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 80px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

}

.nav-bottom li a {
    font-size: 1.4rem;
}

.nav-bottom i {
    font-size: 2.6rem;
}
@media screen and (max-width:412px){
    .wrapper-card .card{
        width: 16rem !important;
    }
    .wrapper-card .card-text{
        font-size: 1.2rem !important ;
    }
}